@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #C9D7F8;
}

body, button, input {
    font-family: 'Lexend', sans-serif;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

